img {
    width: 200px;
}

body {
    text-align: center;
    font-family: 'Papyrus';
    color: #FAEBD7;
    background-color: #4E0606;
}

.content {
    display: inline-block;
    text-align: left;
}